header{
    background-color: orange;
    text-align: center;
    padding: 3px;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: black;
    font-family: sans-serif;
}
body{
    background:white;
}
.aasdasdasdsd{
    width: calc(100% - 20px);
    max-width: 500px;
    margin: auto;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 10px;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    
overflow: hidden;
}
.cont{
    padding: 5px;
    border-radius: 5px;
    /* background: #393b41; */
    border-radius: 2px solid;
}
.title{
    margin: 10px 5px;
    border-bottom: 2px solid orange;
    font-size: 20px;
    text-align: center;
}

.center{
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
h3{
    font-size: 13px;
    margin: 10px 20px;
    text-align: left;
}
input{
    width: calc(100% - 60px);
    margin: 15px;
    background: orange;
    border: none;
    border-bottom: 2px solid orange;
    padding: 5px 15px;
    font-size: 15px;
    
}
button{
    width: calc(100% - 60px);
    margin: 10px;
    padding: 7px 20px;
    background: orangered;
    border: none;
}
.tb{
    width: calc(100% - 250px);
}
.Respostas{
    width: calc(100% - 20px);
    max-width: 500px;
    margin: auto;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 10px;
    height: 400px;
    margin-top: 30px;
}
.penisimundo{
    width: calc(100% - 20px);
    max-width: 500px;
    margin: auto;
    padding: 5px;
    border: 2px solid orange;
    border-radius: 10px;
    height: 280px;
    margin-top: 50px;
}